<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar</h4>
        <div class="progress m-t-20">
          <div id="percentageProgressOne" class="progress-bar bg-primary progress-bar-striped active"
               [style]="{ width: getPercentageProgressOne, height: '10px' }"
               role="progressbar">
          </div>
        </div>

        <div class="progress m-t-20">
          <div id="percentageProgressTwo" class="progress-bar bg-info progress-bar-striped active"
               [style]="{ width: getPercentageProgressTwo, height: '10px' }"
               role="progressbar">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increaser id="increaser-one"
                       [(percentageProgress)]="percentageProgressOne">
        </app-increaser>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increaser id="increaser-two"
                       [(percentageProgress)]="percentageProgressTwo"
                       [buttonClass]="'btn-info'">
        </app-increaser>
      </div>
    </div>
  </div>
</div>
