<div class="input-group" [formGroup]="formGroup">
  <input formControlName="password"
         class="form-control"
         [type]="passwordVisible ? 'text' : 'password'"
         [placeholder]="label"
         (blur)="onTouched()">
  <div class="input-group-append">
    <span class="input-group-text" (click)="this.togglePasswordVisibility()">
      <i [ngClass]="{'fa': true, 'fa-eye': !passwordVisible, 'fa-eye-slash': passwordVisible}"></i>
    </span>
  </div>
  <br>
</div>

<!--<strong>Has input been touched: {{formGroup.controls['password'].touched ? 'Yes' : 'No'}}</strong><br>
<strong>Is input untouched: {{formGroup.controls['password'].untouched ? 'Yes' : 'No'}}</strong><br>
<strong>Is input dirty: {{formGroup.controls['password'].dirty ? 'Yes' : 'No'}}</strong> <br>
<strong>Is input pristine: {{formGroup.controls['password'].pristine ? 'Yes' : 'No'}}</strong>-->
