<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 *ngIf="title" class="text-themecolor">{{ title }}</h3>
  </div>
  <div class="col-md-7 align-self-center">
    <ol class="breadcrumb" *ngIf="title !== 'Dashboard'">
      <li class="breadcrumb-item">
        <a routerLink="/">Home</a>
      </li>
      <li *ngIf="title" class="breadcrumb-item active">{{ title }}</li>
    </ol>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
